{% trans_default_domain 'FOSUserBundle' %}
<div class="card-panel">
    {% if app.user %}
        <p>Vous êtes déjà connecté.</p>
        <p><a href="{{ path('application') }}">Retour à l'application</a></p>

    {% else %}
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form action="{{ path("fos_user_security_check") }}" method="post" class="login-form">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <div class="row">
                <div class="input-field col s12 center">
                    <img src="{{ asset('images/Logo.png') }}" alt="" class="responsive-img valign">
                    <p class="center">Application de messagerie</p>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">person</i>
                    <input type="text" id="username" name="_username" required="required"/>
                    <label for="username">Adresse mail ou pseudo</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock_outline</i>
                    <input type="password" id="password" name="_password" required="required"/>
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                </div>
            </div>
            <input type="hidden" name="_target_path" value="{{ path('application') }}" />



            <div class="row">
                <div class="input-field col s12">
                    <button class="col s12 waves-effect waves-light btn" type="submit">{{ 'security.login.submit'|trans }}</button>
                </div>
            </div>
        </form>
    {% endif %}
</div>